{
  "0": "Speed Limit 20",
  "1": "Speed Limit 30",
  "2": "Speed Limit 50",
  "3": "Speed Limit 60",
  "4": "Speed Limit 70",
  "5": "Speed Limit 80",
  "13": "Yield",
  "14": "Stop",
  "17": "No Entry",
  "38": "Keep Right"
}
